.banner {
    height: 225px;
    margin-top: 63px;
    
    background-position: center;
    background-size: cover;
    background-color: rgb(160, 160, 160);
    background-blend-mode: multiply;
    
    border-radius: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 48px;
        font-weight: 400;
        color: $color-white;
    }

    @media #{$mobile} {
        height: 111px;
        margin-top: 15px;
        
        border-radius: 10px;

        justify-content: flex-start;

        h2 {
            width: 220px;
            margin-left: 16px;

            font-size: 24px;
            font-weight: 400;
        }
    }
}

#homeBanner {
    background-image: url($homeBanner-background);
}

#aboutBanner {
    background-image: url($aboutBanner-background);
}

#aboutMobileBanner {
    background-image: url($aboutMobileBanner-background);
}

