.carrousel__container {
    margin-top: 20px;
    position: relative;

    height: 415px;

    border-radius: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .leftArrow, .rightArrow {
        width: 80px;
        height: 47px;

        z-index: 2;

        cursor: pointer;
    }
    .leftArrow {
        transform: rotateZ(270deg);
    }
    .rightArrow {
        transform: rotateZ(90deg);
    }

    .carrousel__item {
        position: absolute;

        height: 415px;
        min-width: 1240px;
        width: 100%;

        z-index: 1;

        overflow: hidden;

        border-radius: 25px;

        display: flex;
        justify-content: center;

        img {
            position: relative;
            width: 100%;

            object-fit: cover;
        }

        .counter {
            position: absolute;
            bottom: 25px;

            font-size: 18px;
            font-weight: 400;
            color: $color-white;
        }
    }

    @media #{$mobile} {
        margin-top: 27px;

        height: 255px;

        border-radius: 10px;

        .leftArrow, .rightArrow {
            width: 20px;
            height: 12px;
            margin: 6px;
        }

        .carrousel__item {
            position: absolute;

            height: 255px;
            min-width: auto;

            border-radius: 10px;

            .counter {
                display: none;
            }
        }
    }
}

