.dropdown {
    background-color: $color-red;
    
    color: $color-white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        margin-left: 20px;
        font-weight: 300;
    }

    .arrow {
        margin-right: 12px;
    }
}

.small {
    width: 582px;
    height: 52px;

    border-radius: 10px;

    font-size: 18px;
}

.large {
    width: 1023px;
    height: 47px;

    border-radius: 5px;

    font-size: 24px;
}

