.dropdown__container {
    h3, p {
        font-weight: 400;
    }

    .dropdown__header {
        position: relative;
        z-index: 2;
        padding-left: 20px;
        width: 100%;

        background-color: $color-red;
        border: 0px;
        cursor: pointer;
    
        color: $color-white;

        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .arrow {
            margin-right: 12px;
            transition: transform 300ms ease-out;

            &--opened {
                transform: rotate(180deg);
            }
        }
    }

    .dropdown__content {
        height: auto;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;

        background-color: $color-grey;
        color: $color-red;

        transform: translateY(-10px);
    }

    @media #{$mobile} {
        .dropdown__header {
            padding-left: 12px;

            .arrow {
                margin-right: 7px;

                width: 15px;
                height: 8px;
            }
        }
    
        .dropdown__content {
            height: auto;
            padding-top: 30px;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 30px;
        } 
    }
}
.dropdown--small {
    width: 582px;

    h3, p, li {
        font-family: $font-1;
        font-size: 18px;
    }

    .dropdown__header {
        height: 52px;

        border-radius: 10px;
    }
    .dropdown__content {
        border-radius: 10px;
    }

    @media #{$mobile} {
        width: 100%;

        h3 {
            font-size: 13px;
        }
        p, li {
            font-size: 12px;
        }
    
        .dropdown__header {
            height: 30px;
    
            border-radius: 5px;
        }
        .dropdown__content {
            border-radius: 5px;
        }
    }
}
.dropdown--large {
    width: 1023px;

    h3, p, li {
        font-family: $font-1;
        font-size: 24px;
    }

    .dropdown__header {
        height: 47px;

        border-radius: 5px;
    }
    .dropdown__content {
        border-radius: 5px;
    }

    @media #{$mobile} {
        width: 100%;

        h3 {
            font-size: 13px;
        }
        p, li {
            font-size: 12px;
        }
    
        .dropdown__header {
            height: 30px;
        }
    }
}

