.header {
	margin-top: 40px;
    padding-right: 100px;
    padding-left: 100px;
    width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

    .logoKasa {
        height: 68px;

        path {
            fill: $color-red;
        }
    }

    .header__navLink {
        ul {
            display: flex;
        }

        a {
            margin-left: 30px;
            margin-right: 5px;
            
            font-size: 24px;
            color: $color-red;
            text-decoration: none;
        
            &:hover {
                text-decoration: underline;
            }
        }   
    }

    @media #{$mobile} {
        margin-top: 20px;
        padding-right: 20px;
        padding-left: 0px;

        .logoKasa {
            height: 47px;
        }
    
        .header__navLink {
            a {
                margin-left: 10px;
                margin-right: 0;

                font-size: 12px;
                text-transform: uppercase;
            }   
        }
    }
}

