.header {
	margin-top: 40px;
    padding-right: 100px;
    padding-left: 100px;
    width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

    .logoKasa {
        height: 68px;

        path {
            fill: $color-red;
        }
    }

    .header__navLink {
        ul {
            display: flex;
        }

        a {
            font-size: 24px;
            color: $color-red;
            text-decoration: none;
        
            margin-left: 30px;
            margin-right: 5px;

            &:hover {
                text-decoration: underline;
            }
        }   
    }
}

