.aboutPage {
    margin-left: 100px;
    margin-right: 100px;

    width: calc(100% - 200px);
    max-width: 1400px;

    &__dropdown {
        margin-top: 31px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .dropdown__container:not(:last-child) {
            margin-bottom: 31px;
        }
    }
}

