.accomodationPage {
    margin-right: 100px;
    margin-left: 100px;

    width: calc(100% - 200px);
    max-width: 1400px;

    color: $color-red;

    &__header {
        margin-top: 30px;

        display: flex;
        justify-content: space-between;

        h1 {
            height: 51px;

            font-size: 36px;
            font-weight: 400;
        }

        p {
            height: 26px;

            font-size: 18px;
            font-weight: 400;
        }

        .tags {
            margin-top: 20px;
            display: flex;

            &__item {
                width: auto;
                min-width: 115px;
                height: 25px;
                margin-right: 10px;
                padding-left: 8px;
                padding-right: 8px;

                border-radius: 10px;

                background-color: $color-red;
                font-size: 14px;
                font-weight: 300;
                cursor: pointer;

                color: $color-white;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__host {
            &__details {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                
                p {
                    margin: 0;
                    margin-right: 10px;
                    width: min-content;

                    font-size: 18px;
                    font-weight: 400;
                }

                img {
                    height: 64px;
                    width: 64px;

                    border-radius: 32px;
                }
            }

            &__rating {
                margin-top: 24px;

                display: flex;
                flex-direction: row-reverse;

                .rating-container {
                    .grayStar {
                        path {
                            fill: #E3E3E3;
                        }
                    }                    
                }
            }
        }
    }

    &__dropdown {
       margin-top: 26px; 

       display: flex;
       justify-content: space-between;
    }

    @media #{$mobile} {
        margin-right: 20px;
        margin-left: 20px;

        width: calc(100% - 40px);
        max-width: auto;

        &__header {
            margin-top: 15px;

            flex-direction: column;
            justify-content: initial;

            h1 {
                height: 48px;

                font-size: 18px;
            }

            p {
                margin-top: 5px;
                height: 20px;

                font-size: 14px;
                font-weight: 400;
            }

            .tags {
                margin-top: 10px;

                &__item {
                    width: auto;
                    min-width: 84px;
                    height: 18px;
                    padding-left: 6px;
                    padding-right: 6px;

                    border-radius: 5px;

                    font-size: 10px;
                }
            }

            &__host {
                margin-top: 17px;

                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;

                &__details {
                    p {
                        margin: 0;
                        margin-right: 10px;
                        height: 32px;

                        font-size: 12px;
                    }

                    img {
                        height: 32px;
                        width: 32px;

                        border-radius: 16px;
                    }
                }

                &__rating {
                    margin-top: 10px;

                    .rating-container {
                        svg {
                            width: 15px;
                            height: 15px;
                            margin-right: 5px;
                        }                   
                    }
                }
            }
        }

        &__dropdown {
            margin-top: 17px; 

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .dropdown__container {
                margin-bottom: 20px;
            }
        }
    }
}

