@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800);

$font-1: "Montserrat", sans-serif;

$color-red: #FF6060;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #F7F7F7;

$homeBanner-background: "../../assets/images/home-background.png";
$aboutBanner-background: "../../assets/images/about-background.png";
$aboutMobileBanner-background: "../../assets/images/about-mobile-background.png";

$mobile: "only screen and (max-width: 768px)";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $color-white;
  font-family: $font-1;
  
  min-width: 1440px;

  @media #{$mobile} {
    min-width: auto;
  }
}

li {
  list-style-type: none;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

